@charset 'UTF-8';
header{
	background-color: #000000;
	position:absolute;
	width: 100%;
	height: 70px;
	top: 0px;
	left:0px;
	z-index: 1;
}

nav {
	position: absolute;
	top: 0px;
	left: 360px;	
	z-index: 2;
}

nav#buttons a{
	display: inline-block;
	color: white;
	font-family:sans-serif;
	letter-spacing:0.035em;
	text-shadow: 0px -1px 0px #b1b1b1;
	padding:2px 100px;
	background:#136caa; /*for unsupported browsers*/
	background: -webkit-linear-gradient(top, #136caa, #4f98cb);
	background: -moz-linear-gradient(top, #136caa, #4f98cb);
	background: -o-linear-gradient(top, #136caa, #4f98cb);
	background: -ms-linear-gradient(top, #136caa, #4f98cb);
	background: linear-gradient(top, #136caa, #4f98cb);

	/*add a drop shadow to the button*/
	-webkit-box-shadow: rgba(93, 100, 106, .75) 0 1px 10px;
	-moz-box-shadow: rgba(93, 100, 106, .75) 0 1px 10px;
	box-shadow: rgba(93, 100, 106, .75) 0 1px 10px;
}

nav#buttons a:hover, nav#buttons a:focus{
	color:#e0e0d5;
	text-shadow:none;
	/*reduce the size of the box-shadow to give an impression of the button being pushed*/
	-webkit-box-shadow: rgba(93, 100, 106, .75) 0 0 2px;
	-moz-box-shadow: rgba(93, 100, 106, .75) 0 0 2px;
	box-shadow: rgba(93, 100, 106, .75) 0 0 2px;
}

div#logo {
	background-image: url("../images/logo/logo_small.png");
	background-position:center; 
	background-repeat:no-repeat;
	position:absolute;
	left: 0px;
	width: 387px;
	height: 70px;
	top: 0px;
	z-index: 4;
}

section#gameSection {
  overflow: hidden;
}

#about {
	cursor: crosshair;
	position: absolute;
	top: 70px;
	left: 0px;
}

#gameCanvas {
	cursor: crosshair;
	position: absolute;
	top: 70px;
	left: 0px;
}